
<h3><%=  month_string(@month)+ " #{@day}"  %></h3>

<ul>
  <% slot_times.each do |slot|  %>
    <li>
      <%= "#{slot.hour}:#{string_increase_for_min(slot.min)}"%>
    </li>
  <% end %>
</ul>




<!-- # Add button for new slot if a mentor -->
