/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#menubar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: gray;
    /*padding: 4px;*/
    /*border-bottom: 1px solid black;*/
}


/*#main-body {
    background-color: gray;
    /*color: white;*/
    /*padding-top: 80px;
    text-align: center;
}*/


/*.links {*/
    /*color: red;*/
    /*text-align: center;*/
    /*font-family: "Comic Sans MS", serif;
}*/*/

/*ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

/*ul li {

ul li {
    float: left;
}

li.links {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;

}*/*/

}

.centered {
  width: 500px;
  margin: 0 auto;
}
