.active-slot{
  opacity: 0.3;
  border-radius: 5px;
}

.table-head {
  font-size: 1.5em;
  font-weight: bold;
  border: solid 1px black;
}


.title {
  font-size: 2em;
}
.title-slot {
  font-size: 1.5em;
}


.calender {
  margin: 0 auto;
  width: 80%;
}



.left-right {
  display: block;
  float: left;
  text-align: center;
}
// .prev {
//   position: fixed;
//   float: left;
//
// }
//
// .next {
//   position: fixed;
//   float: right;
//
// }
